In [11]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
from datetime import date

In [27]:
t="THYAO.IS"

In [28]:
tickers = [t, 'XU100.IS']
data = pd.DataFrame()
for t in tickers:
    data[t] = wb.DataReader(t, data_source='yahoo', start='2020-1-1', end=date.today())['Adj Close']

In [29]:
sec_returns = np.log( data / data.shift(1) )

In [30]:
cov = sec_returns.cov() * 250
cov

          THYAO.IS  XU100.IS
THYAO.IS  0.204462  0.116375
XU100.IS  0.116375  9.532676

In [31]:
cov_with_market = cov.iloc[0,1]
cov_with_market

0.11637500850901761

In [32]:
market_var = sec_returns['XU100.IS'].var() * 250
market_var

9.532675818725176

In [33]:
beta = cov_with_market / market_var
beta

0.012208010711999716